$fontPath: "/fonts/";

@font-face {
    font-family: "Roboto-Regular";
    src: url($fontPath + "Roboto-Regular.ttf") format("ttf");
    font-display: swap;
}


@font-face {
    font-family: "Roboto-Medium";
    src: url($fontPath + "Roboto-Medium.ttf") format("ttf");
    font-display: swap;
}


@font-face {
    font-family: "Roboto-Bold";
    src: url($fontPath + "Roboto-Bold.ttf") format("ttf");
    font-display: swap;
}