.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 25px;
    margin: 0 auto 1rem;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #aaa;

    .cheat {
        color: transparent;
    }

    @media only screen and (min-width: 768px) {
        max-width: 1000px;
        margin: 0 auto 0.75rem;
        padding-bottom: 0.75rem;
    }

    .reset {
        min-width: 100px;
        display: flex;
        justify-content: flex-end;

        button {
            border-radius: 100px;
            border: 2px solid #337226;
            padding: 0.2rem 0.75rem;
            background: #459b34;
            font-size: 14px;
            color: #f0f0f0;
            margin-bottom: 0;
        }

    }

    .theme {
        min-width: 100px;
        display: flex;
        justify-content: flex-end;
        margin-right: 12px;
        user-select: none;

        span {
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    .word {
        font-weight: 700;
        font-family: "Roboto-Bold", Arial, sans-serif;
        text-transform: uppercase;
    }

    .streak {
        font-weight: 700;
        font-family: "Roboto-Regular", Arial, sans-serif;
        color: #233246;
        margin-left: 8px;
        min-width: 100px;
    }

}