@keyframes flipUp {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }

}

@media only screen and (min-width: 768px) {
    *:focus {
        outline: 3px solid #E89A5A;
        outline-offset: 3px;
    }
}

body {
    margin: 0;
    background: #151530;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto-Regular.ttf") format("ttf");
    font-display: swap;
}


@font-face {
    font-family: "Roboto-Medium";
    src: url("/fonts/Roboto-Medium.ttf") format("ttf");
    font-display: swap;
}


@font-face {
    font-family: "Roboto-Bold";
    src: url("/fonts/Roboto-Bold.ttf") format("ttf");
    font-display: swap;
}



#wordle {
    position: relative;
    background: white;
    margin: auto;

    @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 650px;
        padding: 0.75rem 1rem;
    }

    font-family: "Roboto-Regular", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;


    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 25px;
        margin: 0 0 1rem;
        padding: 1rem 0.5rem;
        border-bottom: 1px solid #aaa;

        .cheat {
            color: transparent;
        }

        @media only screen and (min-width: 768px) {
            margin: 0 0 0.75rem;
            padding-bottom: 0.75rem;
        }

        .reset {
            min-width: 100px;
            display: flex;
            justify-content: flex-end;

            button {
                border-radius: 100px;
                border: 2px solid #337226;
                padding: 0.2rem 0.75rem;
                background: #459b34;
                font-size: 14px;
                color: #f0f0f0;
                margin-bottom: 0;
            }

        }

        .theme {
            min-width: 100px;
            display: flex;
            justify-content: flex-end;
            margin-right: 12px;
            user-select: none;

            span {
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        .word {
            font-weight: 700;
            font-family: "Roboto-Bold", Arial, sans-serif;
            text-transform: uppercase;
        }

        .streak {
            font-weight: 700;
            font-family: "Roboto-Regular", Arial, sans-serif;
            color: #233246;
            min-width: 100px;
        }

    }

    .guesses {
        width: 100%;
        user-select: none;

        .guess {
            display: flex;
            justify-content: center;
            align-items: center;

            &.current {
                background: #fbf5ed;

                &.eek {
                    background: #ffecec;
                }

                &.error {
                    background: #f8ecec;

                    .letter {
                        border: 1px solid #cc2323;
                        color: #cc2323;
                        background: #ffe2e2;
                    }

                }

            }

            .letter {
                font-family: "Roboto-Bold", Arial, sans-serif;
                font-weight: 700;
                color: #233246;
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #666;
                border-radius: 6px;
                margin: 5px 3px;
                text-transform: uppercase;
                background: white;
                font-size: 23px;

                @media only screen and (min-width: 768px) {
                    margin: 0.5rem 0.25rem;
                    height: 55px;
                }

                &.pass {
                    background: #cccccc;
                }

                &.present {
                    background: #c3a949;
                    color: white;
                }

                &.placed {
                    background: #459b34;
                    color: white;
                }

                &.flip {
                    animation: flipUp 0.75s ease forwards;
                    transform: rotateX(90deg);

                    &:nth-child(2) {
                        animation-delay: 0.2s;
                    }

                    &:nth-child(3) {
                        animation-delay: 0.4s;
                    }

                    &:nth-child(4) {
                        animation-delay: 0.6s;
                    }

                    &:nth-child(5) {
                        animation-delay: 0.8s;

                    }
                }

            }

        }

    }

    .keyboard {
        border-top: 1px solid #aaa;
        margin-top: 1rem;
        padding: 1rem 4px;
        user-select: none;
        background: #fdfdfd;

        @media only screen and (min-width: 768px) {
            padding: 0.75rem;
            margin-top: 0.5rem;
        }

        &-row {
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {

                .keyboard-letter {

                    &:first-of-type {
                        background: #6363a4;
                        border-color: #6363a4;
                        color: #fafafa;
                        font-weight: 500;
                        font-family: "Roboto-Medium", Arial, sans-serif;
                        width: 60px;
                        text-transform: lowercase;

                        @media only screen and (min-width: 768px) {
                            width: 75px;
                        }

                        &:hover {
                            background: #535387;
                            color: #fafafa;
                        }

                    }

                    &:last-of-type {
                        background: #596266;
                        border-color: #596266;
                        color: #fafafa;
                        font-family: "Roboto-Medium", Arial, sans-serif;
                        font-weight: 500;

                        &:hover {
                            background: #495256;
                            color: #fafafa;
                        }

                    }

                }

            }

        }

        &-letter {
            cursor: pointer;
            width: 35px;
            height: 55px;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #367787;
            color: #367787;
            border-radius: 6px;
            margin: 4px 2px;
            text-transform: uppercase;
            font-weight: 700;
            font-family: "Roboto-Bold", Arial, sans-serif;
            background: white;

            @media only screen and (min-width: 768px) {
                height: 45px;
                margin: 0.25rem;
            }

            &:hover {
                border: 1px solid #23425c;
                color: #23425c;
                background: #dce4ea;
            }

            &.used, &.pass {
                background: #ccc;
                border: 1px solid #999;
                color: #555;
            }

            &.pressed {
                background: #367787;
                border: 1px solid #0f81bf;
                color: #fff;
            }

            &.present {
                background: #c3a949;
                color: white;
            }

            &.placed {
                background: #459b34;
                color: white;
            }

        }

    }

    &.dark {
        background: #333344;

        .nav {
            background: #151530;
            border-bottom-color: #888;

            .streak, .word {
                color: white;
            }

            .theme {
                span {
                    color: #ccc;
                }
            }

        }

        .guesses {

            .guess {

                &.current {
                    background: #6d621b;

                    .letter {
                        border-color: black;
                    }

                    &.eek {
                        background: #8b4242;
                    }

                    &.error {
                        background: #8b4242;

                        .letter {
                            border: 1px solid #cc2323;
                            color: #a71717;
                            background: #f5cbcb;
                        }

                    }

                }

                .letter {
                    background: #ddd;
                    color: black;

                    &.pass {
                        background: #aaa;
                    }

                    &.present {
                        background: #c3a949;
                        color: white;
                    }

                    &.placed {
                        background: #459b34;
                        color: white;
                    }

                }

            }

        }

        .keyboard {
            background: #151530;
            border-top-color: #888;

            &-letter {
                background: #ddd;
                border-color: #ccc;
                color: black;

                &.used, &.pass {
                    background: #aaa;
                    border: 1px solid #999;
                    color: black;
                }

                &.pressed {
                    background: #367787;
                    border: 1px solid #0f81bf;
                    color: #fff;
                }

                &.present {
                    background: #c3a949;
                    color: white;
                }

                &.placed {
                    background: #459b34;
                    color: white;
                }

            }
        }

    }

}